.login-area, .form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-area {
  width: 300px;
}

h2 {
  margin-top: 100px;
  color: #25b3ff;
}

.name, .password, h2 {
  margin-bottom: 50px;
}
