.info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.image {
  height: 300px;
  width: 800px;
  background: pink;
  margin-top: 50px;
}

.info {
  margin-top: 50px;
  width: 800px;
}

.btn {
  margin-top: 20px;
}

